{{> head }}



    {{> navbar }}



    <div class="jumbotron">
        <h1>Yauri Lapa David</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus a itaque quis quo velit necessitatibus, aliquam eveniet omnis, laudantium eligendi quidem, consequatur exercitationem magni nam sequi. Temporibus amet minima quo.</p>
        <p class="lead">
            
        </p>
    </div>



{{> footer }}