{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Productos</h1>
       <ul>Cafe</ul>
       <ul>Arroz</ul>
       <ul>Leche
           
       </ul>


    </div>


    <div class="col-4">
        <img src="assets/img/capitan-america.png" class="img-thumbnail">
    </div>


</div>

  



{{> footer }}